@using CodeShare.Model.EF;
@using CodeShare.Frontend.Functions;
@model Code

@{
    DataShareCodeEntities db = new DataShareCodeEntities();
    FunctionsController functions = new FunctionsController();
    ViewBag.Title = Model.code_title;

    List<Order> oder = db.Orders.ToList();
    List<Group> groups = db.Groups.ToList();
}
<div class="home" style=" height: 250px">
    <div class="home_background parallax-window" data-parallax="scroll" style="background-image: url('../../Images/Codes/blue-dark-background-brightness-megaphone-set-windows-web-programming-language-codes-gears-vector-illustration-111990452.jpg');"></div>
</div>
<div class="testimonials" style="background-color: #f0f0f0; font-family: Roboto,Arial,sans-serif;padding-top: 22px;" ng-app="myApp">
    <div class="test_border"></div>
    <div class="container" style="max-width: 1500px; font-size: 16px" ng-controller="myCtrl">
        <div class="row">
            <div class="col-lg-9 bg-white border shadow text-dark">
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <div style="padding: 10px">
                            <img src="~/Images/Codes/@Model.code_img" style="width: 100%; height: 280px" />
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div style="padding: 10px">
                            <h3>@Model.code_title [Mã code: @Model.code_code]</h3>
                            <hr />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div style="font-size: 20px"><b class="text-dark">PHÍ TẢI:</b> <b class="text-danger">@Model.code_coin XU</b></div>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-danger float-right"><i class="fa fa-heart">&nbsp;</i>Yêu thích</button>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-7">
                                    <div>
                                        <b>Danh mục: </b> @Model.Category.category_name
                                    </div>
                                    <div>
                                        <b>Thể loại: </b> 
                                        @foreach(var item in groups.Where(n => n.code_id == Model.code_id))
                                        {
                                            @item.Language.language_name<span>&nbsp;</span>
                                        }
                                    </div>
                                    <div>
                                        <b>Nhóm code: </b> Code chất lượng
                                    </div>
                                    <div>
                                        <b>Ngày đăng: </b> @Model.code_datecreate.Value.ToString("dd/MM/yyyy")
                                    </div>
                                    <div>
                                        <b>Dung lượng: </b> @Model.code_disk MB
                                    </div>
                                    <div>
                                        <b>Đánh giá: </b> 10 điểm
                                    </div>
                                    <div>
                                        <b>Lượt xem: </b> 10
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    @if (functions.Cookie() != null)
                                    {
                                        var id = functions.CookieID();
                                        if (id.user_id == Model.user_id)
                                        {
                                            <button onclick="window.location.href='#pay'" class="btn btn-success float-right font-weight-bold w-100" style="font-size: 20px; height: 70px">Code của bạn</button>

                                        }
                                        else
                                        {
                                            <button onclick="window.location.href='#pay'" class="btn btn-success float-right font-weight-bold w-100" style="font-size: 20px; height: 70px">TẢI CODE NGAY</button>

                                        }
                                    }
                                    else
                                    {
                                        <button onclick="window.location.href='#pay'" class="btn btn-success float-right font-weight-bold w-100" style="font-size: 20px; height: 70px">TẢI CODE NGAY</button>
                                    }
                                    <button class="btn btn-default float-right font-weight-bold mt-3 w-100" style="font-size: 20px; height: 70px">DEMO</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <div style="border: 1px dashed green">
                            <div style="padding: 10px">
                                <center>
                                    <i class="fa fa-check-circle text-success"></i> Không chứa mã độc &nbsp;&nbsp;
                                    <i class="fa fa-check-circle text-success"></i> Không chứa mã độc &nbsp;&nbsp;
                                    <i class="fa fa-check-circle text-success"></i> Không chứa mã độc &nbsp;&nbsp;
                                    <i class="fa fa-check-circle text-success"></i> Không chứa mã độc &nbsp;&nbsp;
                                    <i class="fa fa-check-circle text-success"></i> Không chứa mã độc &nbsp;&nbsp;
                                </center>
                            </div>
                        </div>
                        <hr />
                        <div class="alert alert-success">
                            @Html.Raw(Model.code_info)
                        </div>
                        <hr />
                        <h3>Mô tả chi tiết</h3>
                        <p style="color: #7e592a">
                            @Html.Raw(Model.code_des)
                        </p>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <h3>Hướng dẫn cài đặt</h3>
                        <p style="color: #7e592a">
                            @Html.Raw(Model.code_setting)
                        </p>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <h3>Thông số code</h3>
                        <p style="color: #7e592a">
                            @if (Model.code_disk == null)
                            {
                                <b>Thông số không xác định được.</b>
                            }
                            else
                            {
                                @Model.code_disk <span>MB</span>
                            }
                        </p>
                    </div>
                    <div class="col-lg-12 mt-3" id="pay">
                        <div style="padding: 20px">
                            <div class="row border">
                                <div class="col-lg-6">
                                    <h3>LINK DOWNLOAD</h3>
                                </div>
                                <div class="col-lg-6">
                                    <div style="padding: 20px">
                                        Pass giải nén (Nếu có): @(Model.code_coin > 0 ? "Mua code để có mật khẩu" : "baotran99") <br />
                                        @if (Model.code_coin == 0)
                                        {
                                            <button onclick="window.location.href = '@Model.code_linkdown'" class="btn btn-success float-right font-weight-bold w-100" style="font-size: 20px; height: 70px"><i class="fa fa-download">&nbsp;</i>TẢI CODE NGAY</button>
                                        }
                                        else
                                        {
                                            if (functions.Cookie() != null)
                                            {
                                                var id = functions.CookieID();
                                                if (id.user_id == Model.user_id)
                                                {
                                                    <button onclick="window.location.href='#pay'" class="btn btn-success float-right font-weight-bold w-100" style="font-size: 20px; height: 70px">Code của bạn</button>

                                                }
                                                else
                                                {

                                                    if (oder.Where(n => n.user_id == id.user_id && n.code_id == Model.code_id).Count() != 0)
                                                    {
                                                        foreach (var item in oder.Where(n => n.user_id == id.user_id && n.code_id == Model.code_id))
                                                        {
                                                            <button onclick="window.location.href = '/Codes/DetailsCodeSell?id=@item.oder_id'" data-toggle="modal" data-target="#coin" class="btn btn-success float-right font-weight-bold w-100" style="font-size: 20px; height: 70px"><i class="fa fa-download">&nbsp;</i>THÔNG TIN CODE</button>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <button data-toggle="modal" data-target="#coin" class="btn btn-success float-right font-weight-bold w-100" style="font-size: 20px; height: 70px"><i class="fa fa-download">&nbsp;</i>TẢI CODE NGAY</button>
                                                    }

                                                }
                                            }
                                            else
                                            {

                                                <button data-toggle="modal" data-target="#coin" class="btn btn-success float-right font-weight-bold w-100" style="font-size: 20px; height: 70px"><i class="fa fa-download">&nbsp;</i>TẢI CODE NGAY</button>
                                            }
                                            if (functions.Cookie() != null)
                                            {
                                                var id = functions.CookieID();
                                                <div class="modal fade" id="coin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-success">
                                                                <center>
                                                                    <h5 class="font-weight-bold text-white" id="exampleModalLabel">DOWNLOAD SOURCE CODE</h5>
                                                                </center>
                                                                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <center>
                                                                    <i class="fa fa-user">&nbsp;</i>@id.user_name &nbsp;&nbsp;
                                                                    <i class="fa fa-envelope">&nbsp;</i>@id.user_email &nbsp;&nbsp;
                                                                    <b class="text-danger">Số xu khả dụng: </b>@id.user_coin xu &nbsp;&nbsp;
                                                                </center>
                                                                <hr />
                                                                <center style="font-size: 24px">
                                                                    <b>Khả dụng:</b> @id.user_coin xu <br />
                                                                    <b>Download code:</b> @Model.code_coin xu <br />
                                                                    <div>--------------------------------------------------</div>
                                                                    @if (id.user_coin >= Model.code_coin)
                                                                    {
                                                                        <b>Đã đủ:</b> <span>@Model.code_coin xu <br /></span>
                                                                        <br />
                                                                        <button class="btn btn-danger" onclick="window.location.href='/Codes/PayCode?coder=@Model.user_id&id=@Model.code_id'" style="font-size: 19px">Download code này</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <b>Còn thiếu:</b> <span>@(Model.code_coin - id.user_coin) xu <br /></span>
                                                                        <br />
                                                                        <button class="btn btn-danger" style="font-size: 19px">Nạp tiền vào tài khoản</button>
                                                                    }
                                                                </center>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {

                                            }
                                        }
                                        <br />
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <style>
                        .card-no-border .card {
                            border: 0px;
                            border-radius: 4px;
                            -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
                            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
                        }

                        .card-body {
                            -ms-flex: 1 1 auto;
                            flex: 1 1 auto;
                            padding: 1.25rem
                        }

                        .comment-widgets .comment-row:hover {
                            background: rgba(0, 0, 0, 0.02);
                            cursor: pointer
                        }

                        .comment-widgets .comment-row {
                            border-bottom: 1px solid rgba(120, 130, 140, 0.13);
                            padding: 15px
                        }

                        .comment-text:hover {
                            visibility: hidden
                        }

                        .comment-text:hover {
                            visibility: visible
                        }

                        .label {
                            padding: 3px 10px;
                            line-height: 13px;
                            color: #ffffff;
                            font-weight: 400;
                            border-radius: 4px;
                            font-size: 75%
                        }

                        .round img {
                            border-radius: 100%
                        }

                        .label-info {
                            background-color: #1976d2
                        }

                        .label-success {
                            background-color: green
                        }

                        .label-danger {
                            background-color: #ef5350
                        }

                        .action-icons a {
                            padding-left: 7px;
                            vertical-align: middle;
                            color: #99abb4
                        }

                            .action-icons a:hover {
                                color: #1976d2
                            }

                        .mt-100 {
                            margin-top: 100px
                        }

                        .mb-100 {
                            margin-bottom: 100px
                        }
                    </style>
                    <!-- Bình Luận -->
                    <div class="col-lg-12" ng-controller="myComment" id="topcomment">
                        <!-- Main Body -->
                        <div class="container d-flex justify-content-center mb-100">
                            <div class="row w-100">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Bình luận cho @Model.code_title</h4>
                                        </div>
                                        <div class="comment-widgets m-b-20">
                                            <div class="d-flex flex-row comment-row" ng-repeat="com in com">
                                                <div ng-show="com.imgid == null" class="p-2"><span class="round"><img src="~/Images/Users/notimg.png" alt="user" width="50"></span></div>
                                                <div ng-show="com.imgid != null" class="p-2"><span class="round"><img src="~/Images/Users/notimg.png" alt="user" width="50"></span></div>
                                                <div class="comment-text w-100">
                                                    <h5 class="font-weight-bold">{{com.nameid}}</h5>
                                                    <div class="comment-footer"> <span class="date"><small>Just now</small></span> <span class="label label-info">Pending</span> <span class="action-icons"> <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a> <a href="#" data-abc="true"><i class="fa fa-rotate-right"></i></a> <a href="#" data-abc="true"><i class="fa fa-heart"></i></a> </span> </div>
                                                    <p class="m-b-5 m-t-10">
                                                        {{com.content}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row mt-3">
                                        <textarea name="content" class="form-control" placeholder="Nhập nội dung! Bấm enter để gửi" style="height: 200px"></textarea>
                                    </div>
                                    <br />
                                    <button class="btn btn-danger" ng-click="createcomment(@Model.code_id)"><i class="fa fa-comment"></i> Bình luận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div>
                            <form action="#" method="post">
                                <textarea name="comment_content" class="form-control"></textarea>
                                <input type="hidden" value="@Model.code_id" name="code_id"/>
                                <input value="Go Go" class="btn btn-danger" />
                            </form>
                            @foreach (var item in Model.Comments)
                            {
                                <div>
                                    <span>bl: </span>
                                    <span>@item.User.user_name</span>
                                    <hr />
                                    <span>@item.comment_content</span>
                                    <hr />
                                    @foreach (var jtem in item.Reps)
                                    {
                                        <div>
                                            <span>tl: </span>
                                            <span>@jtem.User.user_name</span>
                                            <hr />
                                            <span>@jtem.rep_content</span>
                                            <hr />
                                        </div>
                                    }
                                    <form action="#" method="post">
                                        <input type="text" name="rep_content" class="form-control" />
                                        <input type="hidden" name="comment_id" value="@item.comment_id"/>
                                        <input type="submit" value="Go Go" class="btn btn-danger"/>
                                    </form>
                                </div>
                            }
                        </div>*@
                </div>
            </div>
            <div class="col-lg-3 bg-white border shadow text-dark">
                <div style="padding: 10px; font-size: 16px">
                    <div class="card shadow mt-3">
                        <div style="padding: 10px">
                            <h4>NGƯỜI BÁN</h4>
                            <table>
                                <tr>
                                    <td width="20%">
                                        <div style="padding: 10px">
                                            <img src="~/Images/Users/@Model.User.user_img" style="width: 100px; height: 100px" />
                                        </div>
                                    </td>
                                    <td width="80%">
                                        <h5 class="font-weight-bold text-danger">@Model.User.user_name</h5>
                                        <hr />
                                        <b>Code miển phí: </b> 0 <br />
                                        <b>Code có phí: </b> 0 <br />

                                        @if (functions.Cookie() != null)
                                        {
                                            <button onclick="window.location.href='/Tools/Chats/@Model.user_id'" class="btn btn-danger"><i class="fa fa-comment"></i>&nbsp;Chat</button>
                                        }
                                        else
                                        {
                                            <button onclick="" class="btn btn-danger"><i class="fa fa-comment"></i>&nbsp;Chat</button>
                                        }
                                        <button class="btn btn-danger"><i class="fa fa-heart"></i>&nbsp;Follow</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card shadow mt-3">
                        <div style="padding: 10px">
                            <h4>Chia sẻ</h4>
                            <table>
                                <tr>
                                    <td width="20%">
                                        <div style="padding: 10px">
                                            <img src="~/Images/Codes/notimg.png" style="width: 100px; height: 100px" />
                                        </div>
                                    </td>
                                    <td width="80%">
                                        <h5 class="font-weight-bold text-danger">@Model.User.user_name</h5>
                                        <hr />
                                        <b>Code miển phí: </b> 0 <br />
                                        <b>Code có phí: </b> 0 <br />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #menu {
        position: fixed;
        right: 0;
        top: 35%;
        width: 10em;
        margin-top: -3.5em;
        z-index: 1000;
    }
</style>
<div id="menu">
    <div class="card">
        <center>
            <b class="text-danger">ĐÁNH GIÁ NGAY</b>
            <br />
            <b class="text-warning" style="font-size: 30px"><i class="fa fa-star"></i></b><br />
            <b class="text-warning" style="font-size: 30px"><i class="fa fa-star"></i></b><br />
            <b class="text-warning" style="font-size: 30px"><i class="fa fa-star"></i></b><br />
            <b class="text-warning" style="font-size: 30px"><i class="fa fa-star"></i></b><br />
            <b class="text-warning" style="font-size: 30px"><i class="fa fa-star"></i></b>
            <br />
            10/10
        </center>
    </div>
</div>
<div class="bg-white fixed-bottom border">
    <div class="container">
        <div class="row mt-3 mb-3">
            <div class="col-lg-3">
                <b class="text-dark"><i class="fa fa-code font-weight-bold"></i> TÊN CODE:</b> <br />
                <b class="text-primary"> @Model.code_title</b>
            </div>
            <div class="col-lg-3">
                <b class="text-dark"><i class="fa fa-th-list"></i> DANH MỤC: </b> <br />
                <b class="text-warning">@Model.Category.category_name</b>
            </div>
            <div class="col-lg-3">
                <b class="text-dark"><i class="fa fa-list"></i> THỂ LOẠI: </b>
                <b class="text-success"> <br />
                    @foreach (var item in groups.Where(n => n.code_id == Model.code_id))
                    {
                        @item.Language.language_name<span>&nbsp;</span>
                    }
                </b>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-outline-danger w-100 font-weight-bold mt-3" onclick="">TẢI CODE NGAY</button>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/Json/Codes"
        }).then(function mySuccess(response) {
            $scope.list = response.data;
        }, function myError(response) {
            $scope.list = response.statusText;
        });
    });

    app.controller('myComment', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/Json/CommentID?id=@Model.code_id"
        }).then(function mySuccess(response) {
            $scope.com = response.data;
            $scope.createcomment = function (id) {
                var content = document.getElementsByName("content")[0].value;
                $http({
                    method: "GET",
                    url: "/Codes/Comment?content=" + content
                        + "&id=" + id
                }).then(function mySuccess(response) {
                    $scope.com = response.data;

                    document.getElementsByName("content")[0].value = "";
                    window.location.href = '#pay'
                    

                }, function myError(response) {
                    $scope.com = response.statusText;
                });
            }
        }, function myError(response) {
            $scope.com = response.statusText;
        });
    });
</script>
