@using CodeShare.Model.EF
@{
    ViewBag.Title = "ShareThis";
    DataShareCodeEntities db = new DataShareCodeEntities();
    List<Code> codes = db.Codes.ToList();
    List<Category> categories = db.Categorys.ToList();
    List<Language> languages = db.Languages.ToList();
    List<Banner> banners = db.Banners.ToList();
    //List<Event> events = db.Events.ToList();
    //List<Knowledge_Categorys> knowledges = db.Knowledge_Categorys.ToList();
    //List<Programming_Knowledges> programming_Knowledges = db.Programming_Knowledges.ToList();
    //List<CategoryGroup> categoryGroup = db.CategoryGroup.ToList();
}

<link href="~/Content/Layout/Codes/CSS/cards-hover.css" rel="stylesheet" />
<link href="~/Content/Layout/Codes/CSS/girds.css" rel="stylesheet" />
<link href="~/Content/Layout/Codes/CSS/card-girds.css" rel="stylesheet" />
<!-- Home -->
<!--<div class="home">-->
    <!-- Home Slider -->
    <!--<div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">-->
            <!-- Slider Item -->
            <!--@foreach (var item in banners.Where(n => n.banner_active == true).OrderByDescending(n => n.banner_datecreate))
            {
                <div class="owl-item home_slider_item">
                    <div class="home_slider_background" style="background-image: url('../../Images/Codes/@item.banner_image'); background-size: cover"></div>
                    <div class="home_slider_content text-center">
                        <marquee>
                            <b class="text-white">Bảo trân</b> đã nạp <b class="text-white">20 xu</b> thành công &nbsp;&nbsp;&nbsp;&nbsp;
                            <b class="text-white">Bảo trân</b> đã nạp <b class="text-white">20 xu</b> thành công &nbsp;&nbsp;&nbsp;&nbsp;
                            <b class="text-white">Bảo trân</b> đã mua <b class="text-white">Code website</b> thành công
                        </marquee>
                        <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                            <h1 style="font-size: 50px" class="mt-5">@item.banner_title</h1>
                            <div class="button home_slider_button"><div class="button_bcg"></div><a href="#search">Xem ngay<span></span><span></span><span></span></a></div>
                        </div>
                    </div>
                </div>
            }
        </div>-->
        <!-- Home Slider Nav - Prev -->
        <!--<div class="home_slider_nav home_slider_prev">
            <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
            <defs>
            <linearGradient id='home_grad_prev'>
            <stop offset='0%' stop-color='#fa9e1b' />

            <stop offset='100%' stop-color='#8d4fff' />

						</linearGradient>
					</defs>
            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
					M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
					C22.545,2,26,5.541,26,9.909V23.091z" />

            <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
					11.042,18.219 " />

				</svg>
        </div>-->
        <!-- Home Slider Nav - Next -->
        <!--<div class="home_slider_nav home_slider_next">
            <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
            <defs>
            <linearGradient id='home_grad_next'>
            <stop offset='0%' stop-color='#fa9e1b' />

            <stop offset='100%' stop-color='#8d4fff' />

						</linearGradient>
					</defs>
            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
				M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
				C22.545,2,26,5.541,26,9.909V23.091z" />

            <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
				17.046,15.554 " />

				</svg>
        </div>-->
        <!-- Home Slider Dots -->
        <!--<div class="home_slider_dots">
            <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                <li class="home_slider_custom_dot active"><div></div>01.</li>
                <li class="home_slider_custom_dot"><div></div>02.</li>
                <li class="home_slider_custom_dot"><div></div>03.</li>
            </ul>
        </div>
    </div>
</div>-->
<!-- Search -->
<div class="search" id="search">
    <!-- Search Contents -->
    <div class="container fill_height">
        <div class="row fill_height">
            <div class="col fill_height">
                <!-- Search Tabs -->
                <div class="search_tabs_container">
                    <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                        <div onclick="window.location.href='#gameAn'" class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/Content/Layout/images/bus.png" alt="">Game Android</div>
                        <div onclick="window.location.href='#gameIOS'" class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/Content/Layout/images/departure.png" alt="">Game IOS</div>
                        <div onclick="window.location.href='#codeKnowledge'" class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/Content/Layout/images/suitcase.png" alt=""><span>Kiến Thức Lập Trình</span></div>
                        <div onclick="window.location.href='#codeWeb'" class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/Content/Layout/images/island.png" alt="">Website</div>
                        <div onclick="window.location.href='#codeApp'" class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/Content/Layout/images/cruise.png" alt="">Ứng Dụng</div>
                        <div onclick="window.location.href='#codeEvent'" class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/Content/Layout/images/diving.png" alt="">Sự Kiện</div>
                        <div onclick="window.location.href='#codeNews'" class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="~/Content/Layout/images/diving.png" alt="">Tin Tức</div>
                    </div>
                </div>
                <!-- Search Panel -->
                <div class="search_panel active">
                    <form action="#" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                        <div class="search_item">
                            <div>Tên source</div>
                            <input type="text" class="destination search_input" required="required">
                        </div>
                        <div class="search_item">
                            <div>check in</div>
                            <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                        </div>
                        <div class="search_item">
                            <div>check out</div>
                            <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                        </div>
                        <div class="search_item">
                            <div>adults</div>
                            <select name="adults" id="adults_1" class="dropdown_item_select search_input">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                            </select>
                        </div>
                        <div class="search_item">
                            <div>children</div>
                            <select name="children" id="children_1" class="dropdown_item_select search_input">
                                <option>0</option>
                                <option>02</option>
                                <option>03</option>
                            </select>
                        </div>
                        <button class="button search_button">Tìm ngay<span></span><span></span><span></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="trending bg-white">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Chuyên mục ngôn ngữ lập trình??</h2>
            </div>
        </div>
        <div class="row trending_container">-->

            <!-- Trending Item -->
            <!--@foreach (var item in languages.Where(n => n.language_active == 1).OrderByDescending(n => n.language_view).Take(12))
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="trending_item clearfix">
                        <div class="trending_image"><img style="height: 80px; width: 100%; border-radius: 50%" src="~/Images/Languages/@item.language_img" alt=""></div>
                        <div class="trending_content">
                            <div class="trending_title"><a href="#">@item.language_name</a></div>
                            <div class="trending_price">100 Code</div>
                            <div class="trending_location">Xem ngay</div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>-->
<!-- Intro -->
<!--<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="intro_title text-center">We have the best tours</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="intro_text text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec. </p>
                </div>
            </div>
        </div>
        <div class="row intro_items">-->
<!-- Intro Item -->
<!--<div class="col-lg-4 intro_col">
    <div class="intro_item">
        <div class="intro_item_overlay"></div>
        <div class="intro_item_background" style="background-image:url('../../Content/Layout/images/intro_1.jpg')"></div>
        <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
            <div class="intro_date">May 25th - June 01st</div>
            <div class="button intro_button"><div class="button_bcg"></div><a href="#">see more<span></span><span></span><span></span></a></div>
            <div class="intro_center text-center">
                <h1>Mauritius</h1>
                <div class="intro_price">From $1450</div>
                <div class="rating rating_4">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Intro Item -->
<!--<div class="col-lg-4 intro_col">
    <div class="intro_item">
        <div class="intro_item_overlay"></div>
        <div class="intro_item_background" style="background-image:url('../../Content/Layout/images/intro_2.jpg')"></div>
        <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
            <div class="intro_date">May 25th - June 01st</div>
            <div class="button intro_button"><div class="button_bcg"></div><a href="#">see more<span></span><span></span><span></span></a></div>
            <div class="intro_center text-center">
                <h1>Greece</h1>
                <div class="intro_price">From $1450</div>
                <div class="rating rating_4">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Intro Item -->
<!--<div class="col-lg-4 intro_col">
                <div class="intro_item">
                    <div class="intro_item_overlay"></div>
                    <div class="intro_item_background" style="background-image:url('../../Content/Layout/images/intro_3.jpg')"></div>
                    <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                        <div class="intro_date">May 25th - June 01st</div>
                        <div class="button intro_button"><div class="button_bcg"></div><a href="#">see more<span></span><span></span><span></span></a></div>
                        <div class="intro_center text-center">
                            <h1>Scotland</h1>
                            <div class="intro_price">From $1450</div>
                            <div class="rating rating_4">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- CTA -->
<!--<div class="cta">
    <div class="cta_background" style="background-image:url('../../Content/Layout/images/cta.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="col">-->
<!-- CTA Slider -->
<!--<div class="cta_slider_container">
    <div class="owl-carousel owl-theme cta_slider">-->
<!-- CTA Slider Item -->
<!--<div class="owl-item cta_item text-center">
    <div class="cta_title">maldives deluxe package</div>
    <div class="rating_r rating_r_4">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
    </div>
    <p class="cta_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec. Proin bibendum, augue faucibus tincidunt ultrices, tortor augue gravida lectus, et efficitur enim justo vel ligula.</p>
    <div class="button cta_button"><div class="button_bcg"></div><a href="#">book now<span></span><span></span><span></span></a></div>
</div>-->
<!-- CTA Slider Item -->
<!--<div class="owl-item cta_item text-center">
    <div class="cta_title">maldives deluxe package</div>
    <div class="rating_r rating_r_4">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
    </div>
    <p class="cta_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec. Proin bibendum, augue faucibus tincidunt ultrices, tortor augue gravida lectus, et efficitur enim justo vel ligula.</p>
    <div class="button cta_button"><div class="button_bcg"></div><a href="#">book now<span></span><span></span><span></span></a></div>
</div>-->
<!-- CTA Slider Item -->
<!--<div class="owl-item cta_item text-center">
        <div class="cta_title">maldives deluxe package</div>
        <div class="rating_r rating_r_4">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        </div>
        <p class="cta_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec. Proin bibendum, augue faucibus tincidunt ultrices, tortor augue gravida lectus, et efficitur enim justo vel ligula.</p>
        <div class="button cta_button"><div class="button_bcg"></div><a href="#">book now<span></span><span></span><span></span></a></div>
    </div>

</div>-->
<!-- CTA Slider Nav - Prev -->
<!--<div class="cta_slider_nav cta_slider_prev">
    <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
    <defs>
    <linearGradient id='cta_grad_prev'>
    <stop offset='0%' stop-color='#fa9e1b' />
    <stop offset='100%' stop-color='#8d4fff' />
        </linearGradient>
    </defs>
    <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
    M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
    C22.545,2,26,5.541,26,9.909V23.091z" />
    <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
    11.042,18.219 " />
</svg>
</div>-->
<!-- CTA Slider Nav - Next -->
<!--<div class="cta_slider_nav cta_slider_next">
                        <svg version="1.1" id="Layer_5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                        <defs>
                        <linearGradient id='cta_grad_next'>
                        <stop offset='0%' stop-color='#fa9e1b' />
                        <stop offset='100%' stop-color='#8d4fff' />
                            </linearGradient>
                        </defs>
                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
                    M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
                    C22.545,2,26,5.541,26,9.909V23.091z" />
                        <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
                    17.046,15.554 " />
                    </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Testimonials -->
<div class="testimonials" style="background-image: url('../../Images/Codes/1.jpg'); background-repeat: no-repeat; background-size:  100% 100%;" ng-app="myApp">
    <div class="test_border"></div>
    <div class="container" ng-controller="myCtrl">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title text-white">source codes mới nhất</h2>
                <p>Source code cập nhật thường xuyên và được xét duyệt kỹ từ admin</p>
            </div>
        </div>
        <section id="content" class="mt-3">
            <div class="container mt-2">
                <div class="section-sort clearfix box">
                    <ul class="tiles-swap clearfix block-sm">
                        <li class="swap-block active" id="active1"> <a onclick="List()"><i class="fa fa-th"></i></a> </li>
                        <li class="swap-list" id="active2"> <a onclick="Gird()"><i class="fa fa-list-ul"></i></a> </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="row" id="list">
            <div class="col-md-3 mt-3" ng-repeat="list in list | filter: key">
                <figure class="snip1208">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                    <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                    <figcaption>
                        <h4 class="font-weight-bold">{{list.title}} {{list.coin}}</h4>
                        <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i>
                        <div ng-repeat="x in list.groupp">
                            <a href="/Codes/Index?key={{x}}">{{x}}</a>
                        </div>
                        <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                    </figcaption><a href="/Codes/Details/{{list.id}}"></a>
                </figure>
            </div>
        </div>
        <div class="row" id="gird" style="display: none">
            @*@foreach (var item in codes.Where(n => n.code_active == true && n.code_bin == false && n.code_option == true).OrderByDescending(n => n.code_datecreate))
                {
                    <div class="container-fluid mb-3">
                        <div class="d-flex justify-content-center row">
                            <div class="col-md-10">
                                <div class="row p-2 bg-white border rounded">
                                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/QpjAiHq.jpg"></div>
                                    <div class="col-md-6 mt-1">
                                        <h5>Quant olap shirts</h5>
                                        <div class="d-flex flex-row">
                                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                                        </div>
                                        <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                                        <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                                        <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                                    </div>
                                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                        <div class="d-flex flex-row align-items-center">
                                            <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>
                                        </div>
                                        <h6 class="text-success">Free shipping</h6>
                                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }*@
        </div>
        <script>
            function List() {
                document.getElementById("list").style = "margin-top: 1%";
                document.getElementById("gird").style = "display: none !important";
                document.getElementById("active1").classList = "swap-block active";
                document.getElementById("active2").classList = "swap-list";
            }
            function Gird() {
                document.getElementById("gird").style = "";
                document.getElementById("list").style = "display: none !important;";
                document.getElementById("active2").classList = "swap-block active";
                document.getElementById("active1").classList = "swap-list";
            }
        </script>
    </div>
</div>
<!--<div class="testimonials" style="background-color: #f0f0f0">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">TÌM KIẾM PHỔ BIẾN</h2>
            </div>
        </div>
        <div class="row">-->
            @*@foreach (var item in codes.Where(n => n.code_active == true && n.code_option == true && n.code_bin == false).OrderByDescending(n => n.code_view))
                {
                    <div class="col-md-3 mt-5">
                        <figure class="snip1208">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                            <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                            <figcaption>
                                <h4 class="font-weight-bold">Đồ án code giao diện website tin tức</h4>
                                <div class="font-weight-bold text-dark">
                                    <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i> C#
                                </div>
                                <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                            </figcaption><a href="#"></a>
                        </figure>
                    </div>
                }*@
        <!--</div>
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Code Chất Lượng</h2>
            </div>
        </div>
        <div class="row">-->
            @*@foreach (var item in codes.Where(n => n.code_active == true && n.code_option == true && n.code_bin == false && 2 < n.code_coin && n.code_coin < 99).OrderByDescending(n => n.code_coin))
                {
                    <div class="col-md-3 mt-5">
                        <figure class="snip1208">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                            <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                            <figcaption>
                                <h4 class="font-weight-bold">Đồ án code giao diện website tin tức</h4>
                                <div class="font-weight-bold text-dark">
                                    <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i> C#
                                </div>
                                <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                            </figcaption><a href="#"></a>
                        </figure>
                    </div>
                }*@
        <!--</div>
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Code Tham Khảo</h2>
            </div>
        </div>
        <div class="row">-->
            @*@foreach (var item in codes.Where(n => n.code_active == true && n.code_option == true && n.code_bin == false && n.code_coin > 100 ).OrderByDescending(n => n.code_coin))
                {
                    <div class="col-md-3 mt-5">
                        <figure class="snip1208">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                            <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                            <figcaption>
                                <h4 class="font-weight-bold">Đồ án code giao diện website tin tức</h4>
                                <div class="font-weight-bold text-dark">
                                    <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i> C#
                                </div>
                                <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                            </figcaption><a href="#"></a>
                        </figure>
                    </div>
                }*@
        <!--</div>
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Code Miễn Phí</h2>
            </div>
        </div>
        <div class="row">-->
            @*@foreach (var item in codes.Where(n => n.code_active == true && n.code_option == true && n.code_bin == false && 2 < n.code_coin && n.code_coin == 0).OrderByDescending(n => n.code_datecreate))
                {
                    <div class="col-md-3 mt-5">
                        <figure class="snip1208">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                            <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                            <figcaption>
                                <h4 class="font-weight-bold">Đồ án code giao diện website tin tức</h4>
                                <div class="font-weight-bold text-dark">
                                    <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i> C#
                                </div>
                                <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                            </figcaption><a href="#"></a>
                        </figure>
                    </div>
                }*@
        <!--</div>
    </div>
</div>
<div class="trending">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">TOP DANH MỤC</h2>
            </div>
        </div>
        <div class="row trending_container">-->
            @*@foreach (var item in categories.Where(n => n.category_active == true && n.category_option == true && n.category_bin == false).OrderByDescending(n => n.category_datecreate))
                {-->
                    <!-- Trending Item -->
                    <!--<div class="col-lg-3 col-sm-6">
                        <div class="trending_item clearfix">
                            <div class="trending_image"><img src="~/Content/Layout/images/trend_1.png" alt=""></div>
                            <div class="trending_content">
                                <div class="trending_title"><a href="#">grand hotel</a></div>
                                <div class="trending_price">From $182</div>
                                <div class="trending_location">madrid, spain</div>
                            </div>
                        </div>
                    </div>
                }-->*@
        <!--</div>
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0" id="gameAn">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Top Game Android</h2>
            </div>
        </div>
        <div class="row">-->
            @*@foreach (var item in codes.Where(n => n.code_active == true && n.code_bin == false && n.code_option == true).OrderByDescending(n => n.code_datecreate))
                {
                    <div class="col-md-3 mt-5">
                        <figure class="snip1208">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                            <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                            <figcaption>
                                <h4 class="font-weight-bold">Đồ án code giao diện website tin tức</h4>
                                <div class="font-weight-bold text-dark">
                                    <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i> C#
                                </div>
                                <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                            </figcaption><a href="#"></a>
                        </figure>
                    </div>
                }*@
        <!--</div>
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0" id="gameIOS">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Top Game IOS</h2>
            </div>
        </div>
        <div class="row">-->
            @*@for (int i = 0; i < 16; i++)
                {
                    <div class="col-md-3 mt-5">
                        <figure class="snip1208">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                            <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                            <figcaption>
                                <h4 class="font-weight-bold">Đồ án code giao diện website tin tức</h4>
                                <div class="font-weight-bold text-dark">
                                    <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i> C#
                                </div>
                                <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                            </figcaption><a href="#"></a>
                        </figure>
                    </div>
                }*@
        <!--</div>
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0" id="codeWeb">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Website Phổ Biến</h2>
            </div>
        </div>
        <div class="row">-->
            @*@for (int i = 0; i < 16; i++)
                {
                    <div class="col-md-3 mt-5">
                        <figure class="snip1208">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                            <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                            <figcaption>
                                <h4 class="font-weight-bold">Đồ án code giao diện website tin tức</h4>
                                <div class="font-weight-bold text-dark">
                                    <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i> C#
                                </div>
                                <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                            </figcaption><a href="#"></a>
                        </figure>
                    </div>
                }*@
        <!--</div>
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0" id="codeApp">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Code Ứng Dụng</h2>
            </div>
        </div>
        <div class="row">-->
            @*@for (int i = 0; i < 16; i++)
                {
                    <div class="col-md-3 mt-5">
                        <figure class="snip1208">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                            <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                            <figcaption>
                                <h4 class="font-weight-bold">Đồ án code giao diện website tin tức</h4>
                                <div class="font-weight-bold text-dark">
                                    <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i> C#
                                </div>
                                <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                            </figcaption><a href="#"></a>
                        </figure>
                    </div>
                }*@
        <!--</div>
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0" id="codeEvent">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Sự Kiện</h2>
            </div>
        </div>
        <div class="row">-->
            @*@foreach (var item in events.Where(n => n.event_active == true && n.event_bin == false && n.event_option == true).OrderByDescending(n => n.event_datecreate))
                {
                    <div class="col-md-3 mt-5">
                        <figure class="snip1208">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                            <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                            <figcaption>
                                <h4 class="font-weight-bold">Đồ án code giao diện website tin tức</h4>
                                <div class="font-weight-bold text-dark">
                                    <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i> C#
                                </div>
                                <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                            </figcaption><a href="#"></a>
                        </figure>
                    </div>
                }*@
        <!--</div>
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0" id="codeKnowledge">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Kiến Thức Lập Trình</h2>
            </div>
        </div>
        <div class="row">-->
            @*@foreach (var item in programming_Knowledges.Where(n => n.pk_active == true && n.pk_option == true && n.pk_bin == false).OrderByDescending(n => n.pk_datecreate))
                {
                    <div class="col-md-3 mt-5">
                        <figure class="snip1208">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                            <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                            <figcaption>
                                <h4 class="font-weight-bold">Đồ án code giao diện website tin tức</h4>
                                <div class="font-weight-bold text-dark">
                                    <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i> C#
                                </div>
                                <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                            </figcaption><a href="#"></a>
                        </figure>
                    </div>
                }*@
        <!--</div>
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0" id="codeNews">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Tin Tức</h2>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < 16; i++)
            {
                <div class="col-md-3 mt-5">
                    <figure class="snip1208">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
                        <div class="date"><span class="day"><i class="fa fa-eye"></i></span><span class="month">0</span></div><i class="fa fa-search hover text-white"> </i>
                        <figcaption>
                            <h4 class="font-weight-bold">Đồ án code giao diện website tin tức</h4>
                            <div class="font-weight-bold text-dark">
                                <i class="fa fa-bookmark-o font-weight-bold" style="color: #ffd800"></i> C#
                            </div>
                            <button class="mt-2 float-right mb-4">Xem Thêm <i class="fa fa-plus"></i></button>
                        </figcaption><a href="#"></a>
                    </figure>
                </div>
            }
        </div>
    </div>
</div>-->
<div class="testimonials">
    <div class="test_border"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">what our clients say about us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- Testimonials Slider -->
                <div class="test_slider_container">
                    <div class="owl-carousel owl-theme test_slider">
                        <!-- Testimonial Item -->
                        <div class="owl-item">
                            <div class="test_item">
                                <div class="test_image"><img src="~/Content/Layout/images/test_1.jpg" alt=""></div>
                                <div class="test_icon"><img src="~/Content/Layout/images/backpack.png" alt=""></div>
                                <div class="test_content_container">
                                    <div class="test_content">
                                        <div class="test_item_info">
                                            <div class="test_name">carla smith</div>
                                            <div class="test_date">May 24, 2017</div>
                                        </div>
                                        <div class="test_quote_title">" Best holliday ever "</div>
                                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Item -->
                        <div class="owl-item">
                            <div class="test_item">
                                <div class="test_image"><img src="~/Content/Layout/images/test_2.jpg" alt=""></div>
                                <div class="test_icon"><img src="~/Content/Layout/images/island_t.png" alt=""></div>
                                <div class="test_content_container">
                                    <div class="test_content">
                                        <div class="test_item_info">
                                            <div class="test_name">carla smith</div>
                                            <div class="test_date">May 24, 2017</div>
                                        </div>
                                        <div class="test_quote_title">" Best holliday ever "</div>
                                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Item -->
                        <div class="owl-item">
                            <div class="test_item">
                                <div class="test_image"><img src="~/Content/Layout/images/test_3.jpg" alt=""></div>
                                <div class="test_icon"><img src="~/Content/Layout/images/kayak.png" alt=""></div>
                                <div class="test_content_container">
                                    <div class="test_content">
                                        <div class="test_item_info">
                                            <div class="test_name">carla smith</div>
                                            <div class="test_date">May 24, 2017</div>
                                        </div>
                                        <div class="test_quote_title">" Best holliday ever "</div>
                                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Item -->
                        <div class="owl-item">
                            <div class="test_item">
                                <div class="test_image"><img src="~/Content/Layout/images/test_2.jpg" alt=""></div>
                                <div class="test_icon"><img src="~/Content/Layout/images/island_t.png" alt=""></div>
                                <div class="test_content_container">
                                    <div class="test_content">
                                        <div class="test_item_info">
                                            <div class="test_name">carla smith</div>
                                            <div class="test_date">May 24, 2017</div>
                                        </div>
                                        <div class="test_quote_title">" Best holliday ever "</div>
                                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Item -->
                        <div class="owl-item">
                            <div class="test_item">
                                <div class="test_image"><img src="~/Content/Layout/images/test_1.jpg" alt=""></div>
                                <div class="test_icon"><img src="~/Content/Layout/images/backpack.png" alt=""></div>
                                <div class="test_content_container">
                                    <div class="test_content">
                                        <div class="test_item_info">
                                            <div class="test_name">carla smith</div>
                                            <div class="test_date">May 24, 2017</div>
                                        </div>
                                        <div class="test_quote_title">" Best holliday ever "</div>
                                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Item -->
                        <div class="owl-item">
                            <div class="test_item">
                                <div class="test_image"><img src="~/Content/Layout/images/test_3.jpg" alt=""></div>
                                <div class="test_icon"><img src="~/Content/Layout/images/kayak.png" alt=""></div>
                                <div class="test_content_container">
                                    <div class="test_content">
                                        <div class="test_item_info">
                                            <div class="test_name">carla smith</div>
                                            <div class="test_date">May 24, 2017</div>
                                        </div>
                                        <div class="test_quote_title">" Best holliday ever "</div>
                                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonials Slider Nav - Prev -->
                    <div class="test_slider_nav test_slider_prev">
                        <svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                        <defs>
                        <linearGradient id='test_grad_prev'>
                        <stop offset='0%' stop-color='#fa9e1b' />
                        <stop offset='100%' stop-color='#8d4fff' />
							</linearGradient>
						</defs>
                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
						M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
						C22.545,2,26,5.541,26,9.909V23.091z" />
                        <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
						11.042,18.219 " />
					</svg>
                    </div>
                    <!-- Testimonials Slider Nav - Next -->
                    <div class="test_slider_nav test_slider_next">
                        <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                        <defs>
                        <linearGradient id='test_grad_next'>
                        <stop offset='0%' stop-color='#fa9e1b' />
                        <stop offset='100%' stop-color='#8d4fff' />
							</linearGradient>
						</defs>
                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
					M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
					C22.545,2,26,5.541,26,9.909V23.091z" />
                        <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
					17.046,15.554 " />
					</svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".hover").mouseleave(
        function () {
            $(this).removeClass("hover");
        }
    );
</script>

<!-- angular -->
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/Json/AllCode"
        }).then(function mySuccess(response) {
            $scope.list = response.data;
            @*//$scope.Cate = function (item) {
            //    $scope.txtCate = item;
            //    $scope.txtCateFind = "";
            //}
            //$scope.Rank = function (item) {
            //    $scope.txtRank = item;
            //    $scope.txtCateFind = "";
            //}
            $scope.txtTopCode = "@Html.Raw("view")";
            $scope.txtCodeCL = "@Html.Raw("200")";
            $scope.txtCodeTK = "@Html.Raw("100")";
            $scope.txtCodeMP = "@Html.Raw("0")";*@
            $scope.key = "@Html.Raw(ViewBag.key)";
            @*$scope.sortItem = "@Html.Raw(ViewBag.sortItem)";*@
        }, function myError(response) {
            $scope.list = response.statusText;
        })
    });

</script>