@using CodeShare.Model.EF
@model CodeShare.Model.EF.Pakage

@{
    ViewBag.Title = "Sửa thông tin gói nạp xu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    DataShareCodeEntities db = new DataShareCodeEntities();
}

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
            <div class="card-header-right">
                <a href="/Admin/PakagesAdmin/Index" class="font-weight-bold mr-4">
                    <i class="fa fa-long-arrow-left text-primary"></i>TRỞ VỀ
                </a>
            </div>
        </div>
        <div class="card-block container-fluid">
            <div class="table-responsive">
                <form method="post" class="ui form" action="@Url.Action("Edit","PakagesAdmin", new { id = Model.pakege_id })" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()

                    <input type="hidden" value="@Model.pakege_id" name="pakege_id" />

                    <div class="modal-body">
                        <div class="ui form">
                            <div class="fields two">
                                <div class="field">
                                    <label><i class="fa fa-pencil-square-o font-weight-bold"></i> Gói nạp xu</label>
                                    <input type="text" value="@Model.pakage_coin" name="pakage_coin" />
                                </div>
                            </div>
                            <div class="ui error message"></div>
                        </div>
                    </div>
                    <div class="actions modal-footer">
                        <button type="submit" class="ui positive right labeled icon button">
                            Sửa
                            <i class="checkmark icon"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>