
<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="Codedthemes" />
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <!-- Favicon icon -->
    <link rel="icon" href="~/Content/LayoutAdmin/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- Sematic -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/Semantic-UI-CSS-master/semantic.min.css" rel="stylesheet" />
    <script src="~/Content/Semantic-UI-CSS-master/semantic.min.js"></script>
    <!-- waves.css -->
    <link rel="stylesheet" href="~/Content/LayoutAdmin/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Content/LayoutAdmin/css/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="~/Content/LayoutAdmin/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/LayoutAdmin/icon/themify-icons/themify-icons.css">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="~/Content/LayoutAdmin/css/font-awesome-n.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/LayoutAdmin/css/font-awesome.min.css">
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/LayoutAdmin/css/jquery.mCustomScrollbar.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/LayoutAdmin/css/style.css">
    <!-- Angular -->
    <script src="~/Scripts/angular.min.js"></script>
    <!-- PageList -->
    <link href="~/Content/PageList/ui.css" rel="stylesheet" />
    <script src="~/Content/PageList/list.js"></script>
    <script src="~/Content/PageList/ui.js"></script>
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <!-- Header -->
            @Html.Action("Header","ViewAdmin")
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    @Html.Action("Menu","ViewAdmin")
                    <div class="pcoded-content">
                       @Html.Action("SayHi","ViewAdmin")
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            @Html.Action("Statistical", "ViewAdmin")
                                            @RenderBody()
                                            <!--  sale analytics end -->
                                            <!-- Project statustic start -->
                                            <div class="col-xl-12">
                                                <div class="card proj-progress-card">
                                                    <div class="card-block">
                                                        <div class="row">
                                                            <div class="col-xl-3 col-md-6">
                                                                <h6>Published Project</h6>
                                                                <h5 class="m-b-30 f-w-700">532<span class="text-c-green m-l-10">+1.69%</span></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-c-red" style="width:25%"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-md-6">
                                                                <h6>Completed Task</h6>
                                                                <h5 class="m-b-30 f-w-700">4,569<span class="text-c-red m-l-10">-0.5%</span></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-c-blue" style="width:65%"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-md-6">
                                                                <h6>Successfull Task</h6>
                                                                <h5 class="m-b-30 f-w-700">89%<span class="text-c-green m-l-10">+0.99%</span></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-c-green" style="width:85%"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-md-6">
                                                                <h6>Ongoing Project</h6>
                                                                <h5 class="m-b-30 f-w-700">365<span class="text-c-green m-l-10">+0.35%</span></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-c-yellow" style="width:45%"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Project statustic end -->
                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                                <div id="styleSelector"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    @Html.Action("Index","Validation")
    <script type="text/javascript" src="~/Content/LayoutAdmin/js/jquery/jquery.min.js "></script>
    <script type="text/javascript" src="~/Content/LayoutAdmin/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="~/Content/LayoutAdmin/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/LayoutAdmin/js/bootstrap/js/bootstrap.min.js "></script>
    <!-- waves js -->
    <script src="~/Content/LayoutAdmin/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/Content/LayoutAdmin/js/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- slimscroll js -->
    <script src="~/Content/LayoutAdmin/js/jquery.mCustomScrollbar.concat.min.js "></script>
    <!-- menu js -->
    <script src="~/Content/LayoutAdmin/js/pcoded.min.js"></script>
    <script src="~/Content/LayoutAdmin/js/vertical/vertical-layout.min.js "></script>

    <script type="text/javascript" src="~/Content/LayoutAdmin/js/script.js "></script>
</body>
</html>
