@using CodeShare.Model.EF;
@using CodeShare.Frontend.Functions;
@model Denominations
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var co = new FunctionsController();
    var id = co.CookieID();
}
<style>
    .checkout-button {
        display: flex;
        align-items: center;
        border: 1px solid #ae2070;
        padding: 5px;
        border-radius: 5px
    }

        .checkout-button img {
            padding-left: 10px;
            height: 50px;
            width: 50px;
        }

    .content {
        padding-left: 15px;
    }

        .content .checkout-title {
            color: #000;
            font-size: 13pt;
            font-weight: 600;
        }

        .content .description {
            color: #666
        }

    input[type="radio"]:hover {
        cursor: pointer;
    }
</style>
<div class="home" style="height: 100px">
    <!-- Home Slider -->
    <!-- Home Slider -->
    <div class="home_slider_container">
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0; font-family: Roboto,Arial,sans-serif;" ng-app="myApp">
    <div class="test_border"></div>
    <div class="container" style="max-width: 1300px" ng-controller="myCtrl">
        <div class="row">
            <div class="col-lg-8 bg-white border shadow text-dark">
                <div style="padding: 10px; font-size: 16px">
                    <h6 class="font-weight-bold text-success" style="color: black; font-size: 25px">NẠP TIỀN VÀO TÀI KHOẢN</h6>
                    <div class="border">
                        <center style="padding: 20px">
                            <i class="fa fa-user">&nbsp;</i> @id.user_name [Mã USER-@id.user_id] &nbsp;&nbsp;
                            <i class="fa fa-envelope">&nbsp;</i> @id.user_email &nbsp;&nbsp;
                            <i class="fa fa-bitcoin">&nbsp;</i> Tài khoản: @id.user_coin xu &nbsp;&nbsp;
                            <i class="fa fa-bitcoin">&nbsp;</i> Số tiền từ xu: @(int.Parse(id.user_coin) * 1000) VNĐ &nbsp;&nbsp;
                        </center>
                    </div>
                    <nav class="mt-3">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">VÍ ĐIỆN TỬ</a>
                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Thanh toán chuyển khoản</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <p class="mt-3 text-danger font-weight-bold">
                                <b><i class="fa fa-bell">&nbsp;</i>Xu là gì: </b> <b>Xu dùng để giao dịch mua code và có thể rút tiền lại khi buôn bán có xu thành công. Xu không lạm phát và tương ứng với mức 1000 vnđ 1 xu.</b>
                            </p>
                            <div class="mt-4">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-6">
                                        <h3>Xác nhận thanh toán</h3>
                                        <hr />
                                        <b>Nạp <span class="text-danger">@Model.denomination_coin xu</span> và tài khoản @id.user_email với giá @int.Parse(Model.denomination_price).ToString("#,###") vnđ vào tài khoản.</b>
                                        <br />
                                        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
                                        <div class="checkout-button mt-4" style="cursor: pointer" onclick="window.location.href = '@Url.Action("PayMoMo","Pays", new { id = Model.denomination_id })'">
                                            
                                            <img class="logo" src="https://developers.momo.vn/images/logo.png" width="25" />
                                            <div class="content">
                                                <div class="checkout-title">
                                                    Thanh toán bằng Ví MoMo
                                                </div>
                                                <div class="description">
                                                    <!--       Guide user pays with MoMo E-wallet -->
                                                    <!--       Replace by your content -->
                                                    Quý khách vui lòng cài đặt Ví MoMo trước khi thanh toán. <a href="https://momo.vn/huong-dan/huong-dan-tai-va-cai-dat-vi-momo">Hướng dẫn</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 alert alert-success">
                                1. Chọn số xu muốn nạp. (Chọn các mức nạp, nếu mún nạp tùy ý có thể chọn hình thức cuối cùng) <br />
                                2. Xác nhận thanh toán. (Xem đơn hàng và giá tiền để xác nhận thanh toán) <br />
                                3. Quét QR Code Momo. (Tải app MOMO và tiến thành quét Qr)<br />
                                4. Xác nhận thanh toán. (Xác nhận số tiền từ app và thanh toán)<br />
                                5. Cộng xu thành công. (Thành công nạp xu)<br />
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            a
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bg-white border shadow">
                @Html.Action("All", "View")
            </div>
        </div>
    </div>
</div>

