@model CodeShare.Model.EF.Banner

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Banner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.banner_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banner_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banner_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banner_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banner_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banner_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banner_datecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banner_datecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banner_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banner_active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.banner_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
