@using CodeShare.Model.EF
@model CodeShare.Model.EF.News

@{
    ViewBag.Title = "Thêm tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    DataShareCodeEntities db = new DataShareCodeEntities();
}

@{ 
    List<User> users = db.Users.ToList();
}

<script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
            <div class="card-header-right">
                <a href="/Admin/NewsAdmin/Index" class="font-weight-bold mr-4">
                    <i class="fa fa-long-arrow-left text-primary"></i>TRỞ VỀ
                </a>
            </div>
        </div>
        <div class="card-block container-fluid">
            <div class="table-responsive">
                <form method="post" action="@Url.Action("Create","NewsAdmin")" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="ui form">
                            <div class="fields two">
                                <div class="field">
                                    <label><i class="fa fa-image"></i> Hình ảnh</label>
                                    <input type="file" name="img" />
                                </div>
                                <div class="field">
                                    <label><i class="fa fa-pencil-square-o font-weight-bold"></i> Tên tin tức</label>
                                    <input type="text" name="news_name" />
                                </div>
                            </div>
                            <div class="field">
                                <label><i class="fa fa-pencil"></i> Mô tả</label>
                                <textarea id="editor1" name="news_content"></textarea>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <div class="field">
                                        <label><i class="fa fa-paperclip"></i> Tag</label>
                                        <input type="text" name="news_tag" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label><i class="fa fa-user"></i> Người đăng</label>
                                    <select class="ui fluid dropdown" name="user_id">
                                        <option value="">Chọn người đăng</option>
                                        @foreach (var item in db.Users.Where(t => t.user_active == 1))
                                        {
                                            <option value="@item.user_id">@item.user_name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="ui error message"></div>
                        </div>
                    </div>
                    <div class="actions modal-footer">
                        <button type="submit" class="ui positive right labeled icon button">
                            Thêm
                            <i class="checkmark icon"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#editor1'))
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    $('.ui.dropdown')
        .dropdown()
        ;
</script>