@model CodeShare.Model.EF.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bill_datecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bill_datecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bill_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bill_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bill_dealine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bill_dealine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pakage.pakage_money)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pakage.pakage_money)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bill_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
