<div class="left-side-bar">
    <div class="brand-logo">
        <a href="/Admin/HomeAdmin/Index">
            <img src="~/Content/LayoutAdmin/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
            <img src="~/Content/LayoutAdmin/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li>
                    <a href="#" class="dropdown-toggle no-arrow">
                        <span class="micon fa fa-star"></span><span class="mtext font-weight-bold">QUẢN LÝ THÔNG TIN</span>
                    </a>
                    <div class="ml-3">
                        <a href="@Url.Action("Index","UsersAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-user"></span><span class="mtext">Người dùng</span>
                        </a>
                        <a href="@Url.Action("Index","CustomersAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-users"></span><span class="mtext">Thông tin người dùng</span>
                        </a>
                        <a href="@Url.Action("Index","CodesAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-code"></span><span class="mtext">Code</span>
                        </a>
                        <a href="@Url.Action("Index","CategorysAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-th-list"></span><span class="mtext">Danh mục</span>
                        </a>
                        <a href="@Url.Action("Index","WithdrawalsAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-money"></span><span class="mtext">Rút tiền</span>
                        </a>
                        <a href="@Url.Action("Index","DenominationsAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon icon-copy ti-server"></span><span class="mtext">Mệnh giá xu</span>
                        </a>
                        <a href="@Url.Action("Index","CoursesAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-book"></span><span class="mtext">Khóa học</span>
                        </a>
                        <a href="@Url.Action("Index","Knowledge_CategorysAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon icon-copy dw dw-list"></span><span class="mtext">Danh mục kiến thức</span>
                        </a>
                        <a href="@Url.Action("Index","Programming_KnowledgesAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon icon-copy dw dw-open-book"></span><span class="mtext">Kiến thức lập trình</span>
                        </a>
                        <a href="@Url.Action("Index","EventsAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon icon-copy dw dw-bolt"></span><span class="mtext">Sự kiện</span>
                        </a>
                        <a href="@Url.Action("Index","BannersAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon icon-copy ti-layout-column4"></span><span class="mtext">Banner</span>
                        </a>
                        <a href="@Url.Action("Index","ChatsAdmin")" class="dropdown-toggle no-arrow">
                            <span class="micon icon-copy dw dw-chat-11"></span><span class="mtext">Chat</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
