@model IEnumerable<CodeShare.Model.EF.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>Member’s performance</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.user_email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_sex)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_birth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_token)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_role)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_coin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_datecreate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_dateupdate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_active)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_option)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_del)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_fa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_none)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_view)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_facode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_pass)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_img)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_sex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_birth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_token)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_role)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_coin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_datecreate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_dateupdate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_active)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_option)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_del)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_fa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_none)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_view)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_facode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_pass)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_img)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.user_id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.user_id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.user_id })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>


