@using CodeShare.Model.EF
@model CodeShare.Model.EF.User

@{
    ViewBag.Title = "Lịch sử nạp tiền";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    DataShareCodeEntities db = new DataShareCodeEntities();
}

@{ 
    List<Bill> bills = db.Bills.Where(n => n.user_id == Model.user_id).ToList();
}

<link href="~/Content/LayoutAdmin/css/switchIOS.css" rel="stylesheet" />

<div class="col-xl-12 col-md-12">
    <div class="card table-card container-fluid">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
            <div class="card-header-right">
                <a href="/Admin/UsersAdmin/Index" class="font-weight-bold mr-4">
                    <i class="fa fa-long-arrow-left text-primary"></i>TRỞ VỀ
                </a>
            </div>
        </div>
        <center class="card-block container mt-5">
            <div class="table-responsive container">
                <table class="table table-bordered text-center" style="width: 700px">
                    <tr class="bg-dark text-white" style="font-size: 14px">
                        <th class="font-weight-bold">
                            <i class="fa fa-money"></i> Mệnh Giá Xu
                        </th>
                        <th class="font-weight-bold">
                            <i class="fa fa-pencil"></i> Thành Tiền
                        </th>
                        <th class="font-weight-bold">
                            <i class="fa fa-calendar"></i> Ngày Nạp
                        </th>
                    </tr>
                    <tbody>
                        @foreach (var item in bills)
                        {
                            var coin = @item.Pakage.pakage_coin * 1000;

                            <tr>
                                <td class="font-weight-bold" width="200">@item.Pakage.pakage_coin Xu</td>
                                <td class="font-weight-bold" width="200">@coin.Value.ToString("#,##0") VNĐ</td>
                                <td width="200">@item.bill_datecreate.Value.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </center>
    </div>
</div>



