@model CodeShare.Model.EF.Code

@{
    ViewBag.Title = "SỬA CODE";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Code</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.code_id)

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Tên Code</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Giá</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_coin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_coin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Code</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_code, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_code, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Mô Tả CHi Tiết</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_des, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_des, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Mô Tả Ngắn</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_info, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_info, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Cài Đặt</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_setting, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_setting, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Lượt Xem</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_view, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_view, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Lượt Xem</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_viewdown, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_viewdown, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Link Demo</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_linkdemo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_linkdemo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Link Download</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_linkdown, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_linkdown, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Ngày Tạo</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_datecreate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_datecreate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Ngày Cập Nhật</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_dateupdate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_dateupdate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Hoạt Động</div>
                            <div class="col-md-12">
                                <select name="code_active">
                                    <option value="1">ĐÃ DUYỆT</option>
                                    <option value="2">CHƯA DUYỆT</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Tùy Chọn</div>
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.code_option)
                                    @Html.ValidationMessageFor(model => model.code_option, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Thùng Rác</div>
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.code_del)
                                    @Html.ValidationMessageFor(model => model.code_del, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Tag</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_tag, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_tag, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Dung Lượng</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_disk, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_disk, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Mật Khẩu Truy Cập</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_pass, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_pass, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Tên Danh Mục</div>
                            <div class="col-md-12">
                                @Html.DropDownList("category_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Người Dùng</div>
                            <div class="col-md-12">
                                @Html.DropDownList("user_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2 font-weight-bold mb-1">Ảnh</div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.code_img, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code_img, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="LƯU" class="btn btn-success float-right" />
                            </div>
                        </div>
                    </div>
                }

                <div class="ml-3">
                    @Html.ActionLink("Quay Lại", "Index")
                </div>

            </div>
        </div>
    </div>
</div>


