@model IEnumerable<CodeShare.Model.EF.Code>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>Member’s performance</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <button class="btn btn-success float-right text-white font-weight-bold">
                    @Html.ActionLink("THÊM", "Create")
                </button>
                <table class="table table-bordered text-center">
                    <tr>
                        <th class="font-weight-bold">
                            Ảnh
                        </th>
                        <th class="font-weight-bold">
                            Tên Code
                        </th>
                        <th class="font-weight-bold">
                            Giá
                        </th>
                        <th class="font-weight-bold">
                            Code
                        </th>
                        <th class="font-weight-bold">
                            Ngày Tạo
                        </th>
                        <th class="font-weight-bold">
                            Ngày Cập Nhật
                        </th>
                        <th class="font-weight-bold" width="120">
                            Hoạt Động
                        </th>
                        <th class="font-weight-bold">
                            Tùy Chọn
                        </th>
                        <th class="font-weight-bold">
                            Tag
                        </th>
                        <th class="font-weight-bold">
                            Tên Danh Mục
                        </th>
                        <th class="font-weight-bold">
                            Người Bán
                        </th>
                        <th class="font-weight-bold">
                            Công Cụ
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/Images/Codes/@item.code_img" height="60" width="80" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.code_title)
                            </td>
                            <td width="100">
                                @Html.DisplayFor(modelItem => item.code_coin) Xu
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.code_code)
                            </td>
                            <td>
                                @item.code_datecreate.Value.ToString("dd/MM/yyy")
                            </td>
                            <td>
                               @item.code_dateupdate.Value.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @if (item.code_active == 1)
                                {
                                    <span class="font-weight-bold">ĐÃ DUYỆT</span>
                                }
                                else
                                {
                                    <span class="font-weight-bold">CHƯA DUYỆT</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.code_option)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.code_tag)
                            </td>
                            <td width="150">
                                @Html.DisplayFor(modelItem => item.Category.category_name)
                            </td>
                            <td width="120">
                                @Html.DisplayFor(modelItem => item.User.user_name)
                            </td>
                            <td width="110">
                                <a href="@Url.Action("Edit", "CodesAdmin", new { id = item.code_id })"><i class="fa fa-edit"></i></a> |
                                <a href="@Url.Action("Details", "CodesAdmin", new { id = item.code_id })"><i class="fa fa-eye"></i></a> |
                                <a href="@Url.Action("Delete", "CodesAdmin", new { id = item.code_id })"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
